@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --cor-bg-box: #fafafa; */

:root{
  --cor-primaria: blue;
  --cor-bg-box: #dde5f1;
  --cor-button-transition:  #ff3300;
}

html{
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif; 
  background-color: var(--cor-bg-box);

 
}



#start,
#stop,
#reset {
  display: none;
}

.flex {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border: 1px solid purple;
}

.center {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  justify-content: space-around;

  border: 1px solid orange;
}

.menuClock {
  width: auto;
  top: 35%;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 0rem 1rem 0rem 1rem;

  
}

.menuClock button {
  font-size: 1.4rem;
  border: none;
  color: #fff;
  background-color: blue;
  border-radius: 10px;
  width: auto;
  height: 4rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  transition: color 0.3s;

  
}

.menuClock button:hover{
  background-color: var(--cor-button-transition);
}


.menuCronometro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  top: 40%;
  position: relative;
}




.menuCronometro button {
  font-size: 1.4rem;
  border: none;
  color: #fff;
  background-color: blue;
  border-radius: 10px;
  width: auto;
  height: 4rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}



.menuCronometro button:hover{
  background-color: var(--cor-button-transition);
}





.clockContainer {
  /* border: 4px solid orange; */
  position: relative;

  margin: 0% 1% 0% 1%;
  border-radius: 20px;
  
  width: 650px;
  height: 800px;

  top: 10%;
  overflow: hidden;

  background-color: #fff;
 
}

.clock {
  width: 400px;
  height: 400px;
  position: relative;

  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* border: 4px solid green; */
}

.information {
  width: 650px;
  height: 800px;

  /* border: 4px solid orange; */
  top: 10%;
  position: relative;

  margin: 0% 1% 0% 1%;

  border-radius: 20px;
  background-color: #fff;
}

.information-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.information-text h1{
  font-size: 5.8rem;
  text-align: start;
  padding: 6rem 2rem 0rem 2rem;
  font-weight: 600;
  line-height: 6rem;
}

.information-text h2{
  font-size: 2.4rem;
  text-align: start;
  padding: 4rem 2rem 0rem 2rem;
  font-weight: 400;
}

.information-text h3{
  width: 400px;
  margin-top: 26rem;
  border-top: 1px solid #0D0DFF;
}

.information-text p{
  font-size: 2.2rem;
  text-align: center;
  padding: 2rem 4rem 0rem 4rem;
  font-weight: 400;
}

/* watch face */

.marcadores {
  width: 100%;
  height: 100%;
  position: relative;
}

.marcador {
  width: 7px;
  height: 12px;

  display: block;
  border: 0.2mm solid blue;
  background: blue;
  border-radius: 0.8mm;
  /* border-radius: 50%; */

  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 0.3mm);
}

.marcador.big {
  width: 1px;
  height: 14px;

  border: 0.3mm solid red;
  background: red;
  top: calc(50% - 7px);
  left: calc(50% - 0.2mm);
}

.marcador.big > .textOutside {
  color: black;
  position: absolute;

  top: 100%;
  font-size: 3rem;
  font-weight: 400;

  width: 80px;
  height: 80px;
  line-height: 80px;

  text-align: center;
  /* overflow: hidden; */

  top: calc(-500% - 7px); /* ajusta os numeros da borda -600 */
  left: calc(50% - 40px); /* ajusta os numeros na horizontal 40*/

  letter-spacing: 0.2rem;

  /* border: 1px solid salmon; */
}

.marcador.big > .textInside {
  color: black;
  position: absolute;

  top: 100%;
  font-weight: 600;

  width: 50px;
  height: 50px;
  line-height: 50px;

  text-align: center;

  top: calc(350% - 7px); /* ajusta os numeros da borda 270% */
  left: calc(50% - 28px); /* ajusta os numeros na horizontal 28px%*/

  letter-spacing: 0.2rem;
  /* 
    border: 1px solid red; */
}

.textInside{
  font-size: 5rem;
}

.circuloInside {
  position: absolute;
  display: flex;

  top: 12%;
  left: 12%;

  border-radius: 50%;
  align-items: center;

  border: 3px solid blue;

  width: 310px;
  height: 310px;
}

/* watch hands*/

.seconds,
.minutes,
.hours {
  width: 2px;
  height: 155px;
  position: absolute;

  top: 50%;
  left: calc(50% - 1px);
  border-radius: 0.6mm;
  transform-origin: 1px 0;
}

.seconds {
  width: 2px;
  height: 283px;
  transform-origin: 1px 26px;
  top: calc(50% - 26px);
  background: red;
  z-index: 2;
}

.hours {
  height: 158px;
  z-index: 1;
}

.minutes {
  height: 220px;
  z-index: 1;
}

.minutes,
.hours {
  background: black;
}

.seconds::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 0);

  width: var(--largura-before, 12px);
  height: calc(100% - 48px);
  background: red;
  border-radius: 2rem;
}

.minutes::before,
.hours::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 0);

  width: var(--largura-before, 12px);
  height: calc(100% - 22px);
  background: black;
  border-radius: 2rem;
}

/* classe para alterar o before no js dos ponteiros */
.hands-before::before {
  width: var(--largura-before, 12px); 
}


.minutes.dark-mode::before,
.hours.dark-mode::before {
  background: white;
}


.pivot,
.pivot::before {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;

  background: red;

  border-radius: 50%;

  z-index: 2;
}

.pivot::before {
  content: "";
  border: 3px solid red;
  width: 5px;
  height: 5px;
}

/* date */

.borderDate {
  width: 15px;
  height: 5px;

  border: 4px solid blue;
  background-color: white;

  border-radius: 10px;

  top: 41%;
  left: 70%;
  position: absolute;
  z-index: 0;

}

#date {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 0.6rem;
  font-size: 3rem !important;

  white-space: nowrap;
}

#chronoDisplay {
  padding-top: 0.8rem;
  padding-left: 3.2rem;
  font-size: 3rem !important;
}





/* --------------  CONFIGURAÇÕES DA PÁGINA ----------*/


.container{
  max-width: 1536px;
  
}

header{
  background: blue;
  box-shadow: 0px 1px 10px;
  margin-bottom: 2rem;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 20rem;

}


.logo h1{
  color: #fff;
  font-size: 2rem;
}

.nav-list{
  display: flex;
  align-items: center;
}


.nav-list ul{
  display: flex;
  justify-content: center;
  list-style: none;
}


.nav-item{
  margin: 0 15px;
}

.nav-link{
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-link:hover{
 color: var(--cor-button-transition);
}


.mobile-menu-icon{
  display: none;
}


.mobile-menu{
  display: none;
}



/* section cads*/


.cards-container{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  flex-wrap: wrap;

  
}

.card{
  display: flex; 
  flex-direction: column; 
  flex: 0 0 calc(33.33% - 30px);
  margin: 0px 15px 30px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  width: 100px;
}



.card img{
  width: 100%;
  height: auto;
  padding: 20px;
}

.content{
  padding: 20px;
  color: white;
  background-color: var(--cor-primaria);
}

.content h2{
  font-size: 2rem;
  text-align: center;
}



.section-cards{
  display: flex;
  flex-direction: column;
}

.title-section-cards{
  text-align: center;
}

.title-section-cards p{
  font-size: 3rem;
  margin: 2.6rem 0rem 2.6rem 0rem;
}


/* section services */

.section-services{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.title-services-section p{
  font-size: 3rem;
 
  text-align: center;
  margin: 2.6rem 35rem 2.6rem 35rem;
}

.title-services-section{
  text-align: center;
}

.services-cards{
  display: flex;
  flex-direction: column;
  margin: 0rem 15rem 5rem 25rem ;
  gap: 3rem;
}

.text-card{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  transition: color 0.3s;
}




.text-card h2{
  font-size: 2.5rem;
}

.text-card p{
  font-size: 2.2rem;
}




/* section about us */

.section-about-us {
  display: flex;
  flex-direction: column;
  
}

.title-section-about-us{
  text-align: center;
  padding: 3rem;
}

.title-section-about-us p{
  font-size: 3rem;
}



.content-about-us{
  display: flex;
}

.contente-text-about-us{
  text-align: justify;
  padding: 5rem;
  width: 50%;
}
.content-img-about-us{
  display: flex;
  justify-content: center;
  align-items: center;
}


.content-img-about-us img{
  width: 100%;
  height: auto;
} 

.contente-text-about-us p{
  font-size: 2.2rem;
}



/* Contact and localization */

.contact-and-localization{
  display: flex;
  padding: 5rem;
}

.contact-card h3{
  margin-top: 5rem;
  font-size: 4rem;
}

.contact-card p{ 
  margin-top: 6rem;
  font-size: 2.6rem;
}


.contact-card{
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 500px;
  text-align: center;
  background-color: white;  
  border-radius: 20px;
}





.contact-card button {
  font-size: clamp(2.6rem, 3vw, 3.4rem); 
  border: none;
  color: #fff;
  background-color: rgb(7, 192, 7);
  border-radius: 10px;
  width: 50%; 
  max-width: 32rem; 
  height: 8vw; 
  max-height: 8rem; 
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  transition: color 0.3s;
  margin-top: 4rem;
}


.contact-card button:hover{
  background-color: rgb(7, 172, 7);
}

.title__localization p{
  font-size: 2.4rem;
  padding: 1rem;
}

.localization-card{
background-color: white;
width: 45%;
height: 500px;
text-align: center;
border-radius: 10px;
}





@media (max-width: 1536px) {
  .flex {
    max-width: 1280px;
  }

  .center {
    gap:4rem
  }

  #date {
    font-size: 2.6rem !important;
  }
  
  #chronoDisplay {
    font-size: 2.6rem !important;
  }
  
}

@media (max-width: 1280px) {
  .flex {
    max-width: 1024px;
  }

  .center {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .section-clock{
    flex-direction: column-reverse;
  }

  .clockContainer {
    margin: 6% 1% 0% 1%;
  }

  .nav-bar{
    padding: 2.5rem 8rem;
  }

  .cards-container{
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }

  .card{
    width: 60%;
  }

  .content-about-us{
    flex-direction: column;
  }
  
  .contente-text-about-us{
    width: auto;
  }

  .title-services-section p{
    margin: 2rem;
  }

  .services-cards{
    margin: auto;
  }

}


@media (max-width: 1024px) {
  .flex {
    max-width: 768px;
  }


  .nav-bar{
    padding: 1.5rem 4rem;
  }

  .nav-item{
    display: none;
  }

  .mobile-menu-icon{
    display: block;
  }

  .icon{
    width: 50px;
    height: 50px;
  }


  .mobile-menu-icon button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
    
  }

  .mobile-menu .nav-item {
    display:block;
    padding-top: 1.2rem;
  }

  .open{
    display: block;
  }

  .mobile-menu.open{
    display: block;
  }

  .logo{
    margin-top: 1.6rem;
  }

  .title-section-cards p{
    font-size: 2.2rem;
    margin: 2.6rem 0rem 2.6rem 0rem;
  }

  .contact-and-localization{
    display: flex;
    flex-direction: column;
    padding: 5rem;
  }

  .contact-card{
    width: 100%;
  }

  .localization-card{
    width: 100%;
  }

 



}

@media (max-width: 768px) {
  .flex {
    max-width: 640px;
  }

  .information{
    width: 600px;
    height: 750px;
  }

  .clockContainer{
    width: 600px;
    height: 750px;
  }


  .information-text h3{
    margin-top: 16rem;
  }
  

}


@media (max-width: 640px) {
  .flex {
    max-width: 475px;
  }

  .information{
    width: 455px;
    height: 750px;
  }

  .clockContainer{
    width: 455px;
    height: 750px;
  }

  #date {
    font-size: 2.2rem !important;
  }
  
  #chronoDisplay {
    font-size: 2.2rem !important;
  }

  .title-section-cards p{
    font-size: 1.6rem;
    margin: 2.6rem 0rem 2.6rem 0rem;
  }
}

@media (max-width: 475px) {
  .flex {
    max-width: 375px;
  }

  .information{
    width: 310px;
    height: 750px;
  }

  .clockContainer{
    width: 310px;
    height: 750px;
  }

  .clock {
    width: 400px;
    height: 400px;
    position: relative;
  
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* border: 4px solid green; */
  }

  .menuClock {
    width: 100%;
    top: 2%;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content:center;

    align-items: center;

    
  }
  
  .menuCronometro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    top: 10%;
    position: relative;

    
    
  }

  #date {
    font-size: 1.4rem !important;
  }
  
  #chronoDisplay {
    font-size: 1.4rem !important;
  }


}



