*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: aqua;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.center{
  width: 100%;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.clock{
  width: 400px;
  height: 400px;
  position: relative;
}

.points{
  width: 100%;
  height: 100%;
  position: relative;
}

.point{
  width: 4px;
  height: 24px;

  display: block;
  border: 0.2mm solid red;
  background: red;
  border-radius: 0.8mm;

  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 0.3mm);

}


.point.big{
  width: 4px;
  height: 24px;

  border: 0.3mm solid white;
  background: white;
  top: calc(50% - 7px);
  left: calc(50% - 0.2mm);
}

.point.big > .text{
  color: white;
  position: absolute;

  top: 100%;
  font-size: 4rem;
  font-weight: 400;

  width: 40px;
  height: 40px;
  line-height: 40px;

  text-align: center;
  overflow: hidden;

  top: calc(-250% - 7px);
  left: calc(50% - 20px);

  letter-spacing: 0.2rem  ;
}

.point.big > .dentro{
  color: white;
  position: absolute;

  top: 100%;
  font-size: 4rem;
  font-weight: 400;

  width: 40px;
  height: 40px;
  line-height: 40px;

  text-align: center;
  overflow: hidden;

  top: calc(50% - 7px);
  left: calc(50% - 20px);

  letter-spacing: 0.2rem  ;
}



